# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store

# PyCharm / VSCode
.idea/
.vscode/

# Streamlit
.streamlit/
